<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Boomer Deck Builder</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" href="https://unpkg.com/98.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <div id="siteContent">
    <div class="main window">
      <div class="title-bar">
        <div class="title-bar-text"></div>
        <div class="title-bar-controls">
          <a href="https://mtg.fandom.com/wiki/Old_School" target="_blank"><button aria-label="Help"></button></a>
          <a href="/logout"><button aria-label="Close"></button></a>
        </div>
      </div>

      <img src="/assets/img/title-banner.png" alt="Boomer Deck Builder: Old School MAGIC: THE GATHERING on the world wide web!" width="100%">

      <br>

      <div class="window-body">

        <menu role="tablist">
          <li class="navlink" role="tab" aria-selected="true"><a id="builderButton" href="/builder">Builder</a></li>
        </menu>

        <div class="window" role="tabpanel">
          <div class="window-body">
            <section id="app"></section>
          </div>
        </div>
      </div>

    </div>
  </div>
  <footer>
    <p>Created by Dylan Pegg ©</p>
  </footer>
  <script src="/assets/appBundle.js"></script>
</body>
</html>
