<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Boomer Deck Builder</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" href="https://unpkg.com/98.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <div class="navlink"><a id="loginButton" href="/login">Log in</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="navlink"><a id="changePasswordButton" href="/changePassword">Change Password</a></div>
  </nav>

  <hr>
  
  <section id="content">

  </section>

  <div id="userMessage" class='hidden'>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
