<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Boomer Deck Builder</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" href="https://unpkg.com/98.css" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <div id="siteContent">
    <div class="main window">
      <div class="title-bar">
        <div class="title-bar-text"></div>
        <div class="title-bar-controls">
          <a href="https://mtg.fandom.com/wiki/Old_School" target="_blank"><button aria-label="Help"></button></a>
        </div>
      </div>

      <img src="/assets/img/title-banner.png" alt="Boomer Deck Builder: Old School MAGIC: THE GATHERING on the world wide web!" width="100%">

      <br>

      <div class="window-body">

        <menu role="tablist">
          <li class="navlink" role="tab" aria-selected="true"><a id="loginButton" href="/login">Log in</a></li>
          <li class="navlink" role="tab" aria-selected="false"><a id="signupButton" href="/signup">Sign up</a></li>
        </menu>

        <div class="window" role="tabpanel">
          <div class="window-body">
            <section id="content"></section>
          </div>
        </div>

        <div id="userMessage" class='hidden'>
          <h3><span id="errorMessage"></span></h3>
        </div>
      </div>

    </div>
  </div>
  <footer>
    <p>Created by Dylan Pegg ©</p>
  </footer>

 <script src="/assets/loginBundle.js"></script>
</body>
</html>
